[user]
	email = tsubik@gmail.com
	name = Tomasz Subik
	signingkey = ECB70D034627F533
[core]
	excludesfile = /home/tomasz/.gitignore
	editor = emacsclient
#[diff]
#  external = /usr/local/bin/git_diff.sh
[alias]
  br = branch
  ca = commit --amend --no-edit
  ci = commit
  rmerged = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
  co = checkout
  cob = checkout -b
  dump = cat-file -p
  ghstat = rev-list --left-right --count
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=local
  save = !git add -A && git commit -m 'SAVEPOINT'
  st = status
  type = cat-file -t
  undo = reset HEAD~1 --mixed
[push]
	default = simple
[commit]
	gpgsign = true
