[user]
	email = tsubik@gmail.com
	name = Tomasz Subik
[core]
	excludesfile = /home/tomasz/.gitignore
	editor = emacsclient
#[diff]
#  external = /usr/local/bin/git_diff.sh
[alias]
  co = checkout
  cob = checkout -b
  ci = commit
  ca = commit --amend --no-edit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=local
  type = cat-file -t
  dump = cat-file -p
  save = !git add -A && git commit -m 'SAVEPOINT'
  undo = reset HEAD~1 --mixed
  ghstat = rev-list --left-right --count
[push]
	default = simple
